* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  min-height: 100svh;
  background: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:500px) {
  .messages-wrp {
    display: flex;
    flex-direction: column;
    background: rgb(240, 240, 240);
    padding: 25px 10px;
    border-radius: 28px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.709);
    width: 100%;
    margin: 8px;
  }

  .message-someone {
    background: white;
    margin-right: 20px;
  }

  .message-me {
    background: linear-gradient(20deg, rgba(255, 0, 0, 0.49), rgba(0, 0, 255, 0.548));
    margin-left: 20px;
    color: white;
    font-weight: 500;
  }

  .message {
    margin-block: 10px;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.192);
  }

  .message-top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .message-top img {
    max-height: 40px;
    width: auto;
    border-radius: 50%;
  }

  .message-username {
    opacity: 0.8;
  }

  .message-text {}
}

@media (min-width: 501px) {
  .messages-wrp {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 30px 50px;
    border-radius: 28px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.123);
    max-width: 70%;
  }

  .message-someone {}

  .message-me {}

  .message {}

  .message-top {}

  .message-top img {}

  .message-username {}

  .message-text {}
}